
.vs/AspNetMvcCoreDemo/v15/Server/sqlite3/storage.ide-wal
.vs/AspNetMvcCoreDemo/v15/Server/sqlite3/storage.ide-shm
.vs/AspNetMvcCoreDemo/v15/Server/sqlite3/db.lock
.vs/AspNetMvcCoreDemo/v15/.suo
.vs/AspNetMvcCoreDemo/v15/Server/sqlite3/storage.ide
.vs/config/applicationhost.config
ApiDemo/ApiDemo.csproj.user
AspNetMvcCoreDemo/bin/Debug/netcoreapp2.1/AspNetMvcCoreDemo.pdb
.vs/AspNetMvcCoreDemo/v15/.suo
.vs/AspNetMvcCoreDemo/v15/Server/sqlite3/storage.ide
.vs/config/applicationhost.config
ApiDemo/ApiDemo.csproj
ApiDemo/ApiDemo.csproj.user
ApiDemo/ApiDemo.xml
ApiDemo/bin/Debug/netcoreapp2.2/ApiDemo.deps.json
ApiDemo/bin/Debug/netcoreapp2.2/ApiDemo.dll
ApiDemo/bin/Debug/netcoreapp2.2/ApiDemo.pdb
ApiDemo/bin/Debug/netcoreapp2.2/BLL.dll
ApiDemo/bin/Debug/netcoreapp2.2/BLL.pdb
ApiDemo/bin/Debug/netcoreapp2.2/DAL.dll
ApiDemo/bin/Debug/netcoreapp2.2/DAL.pdb
ApiDemo/bin/Debug/netcoreapp2.2/DBUtility.dll
ApiDemo/bin/Debug/netcoreapp2.2/DBUtility.pdb
ApiDemo/bin/Debug/netcoreapp2.2/DotNetService.dll
ApiDemo/bin/Debug/netcoreapp2.2/DotNetService.pdb
ApiDemo/bin/Debug/netcoreapp2.2/IBLL.dll
ApiDemo/bin/Debug/netcoreapp2.2/IBLL.pdb
ApiDemo/bin/Debug/netcoreapp2.2/Model.dll
ApiDemo/bin/Debug/netcoreapp2.2/Model.pdb
ApiDemo/bin/Release/netcoreapp2.2/ApiDemo.deps.json
ApiDemo/bin/Release/netcoreapp2.2/ApiDemo.dll
ApiDemo/bin/Release/netcoreapp2.2/ApiDemo.pdb
ApiDemo/bin/Release/netcoreapp2.2/ApiDemo.xml
ApiDemo/bin/Release/netcoreapp2.2/BLL.dll
ApiDemo/bin/Release/netcoreapp2.2/BLL.pdb
ApiDemo/bin/Release/netcoreapp2.2/DAL.dll
ApiDemo/bin/Release/netcoreapp2.2/DAL.pdb
ApiDemo/bin/Release/netcoreapp2.2/DBUtility.dll
ApiDemo/bin/Release/netcoreapp2.2/DBUtility.pdb
ApiDemo/bin/Release/netcoreapp2.2/DotNetService.dll
ApiDemo/bin/Release/netcoreapp2.2/DotNetService.pdb
ApiDemo/bin/Release/netcoreapp2.2/IBLL.dll
ApiDemo/bin/Release/netcoreapp2.2/IBLL.pdb
ApiDemo/bin/Release/netcoreapp2.2/Model.dll
ApiDemo/bin/Release/netcoreapp2.2/Model.pdb
ApiDemo/Controllers/ImprintController.cs
ApiDemo/Controllers/RedisDemoController.cs
ApiDemo/obj/ApiDemo.csproj.nuget.g.props
ApiDemo/obj/Debug/netcoreapp2.2/ApiDemo.csprojAssemblyReference.cache
ApiDemo/obj/Debug/netcoreapp2.2/ApiDemo.dll
ApiDemo/obj/Debug/netcoreapp2.2/ApiDemo.pdb
ApiDemo/obj/Debug/netcoreapp2.2/ApiDemo.RazorAssemblyInfo.cs
ApiDemo/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ApiDemo/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ApiDemo/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ApiDemo/obj/project.assets.json
ApiDemo/obj/Release/netcoreapp2.2/ApiDemo.csprojAssemblyReference.cache
ApiDemo/obj/Release/netcoreapp2.2/ApiDemo.dll
ApiDemo/obj/Release/netcoreapp2.2/ApiDemo.pdb
ApiDemo/Properties/launchSettings.json
ApiDemo/Startup.cs
AspNetMvcCoreDemo/bin/Debug/netcoreapp2.1/AspNetMvcCoreDemo.deps.json
AspNetMvcCoreDemo/bin/Debug/netcoreapp2.1/AspNetMvcCoreDemo.dll
AspNetMvcCoreDemo/bin/Debug/netcoreapp2.1/AspNetMvcCoreDemo.pdb
AspNetMvcCoreDemo/bin/Debug/netcoreapp2.1/AspNetMvcCoreDemo.Views.dll
AspNetMvcCoreDemo/bin/Debug/netcoreapp2.1/AspNetMvcCoreDemo.Views.pdb
AspNetMvcCoreDemo/bin/Release/netcoreapp2.1/AspNetMvcCoreDemo.Views.dll
AspNetMvcCoreDemo/obj/AspNetMvcCoreDemo.csproj.nuget.g.props
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/AspNetMvcCoreDemo.assets.cache
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/AspNetMvcCoreDemo.csproj.CoreCompileInputs.cache
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/AspNetMvcCoreDemo.csprojAssemblyReference.cache
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/AspNetMvcCoreDemo.dll
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/AspNetMvcCoreDemo.pdb
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/AspNetMvcCoreDemo.Views.dll
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/AspNetMvcCoreDemo.Views.pdb
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Doctors/Index.g.cshtml.cs
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Pdf/AbcPdfCreate2.g.cshtml.cs
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Pdf/Index.g.cshtml.cs
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Index_Layout.g.cshtml.cs
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
AspNetMvcCoreDemo/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
AspNetMvcCoreDemo/obj/project.assets.json
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/AspNetMvcCoreDemo.Views.dll
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/Razor/Views/Doctors/Index.g.cshtml.cs
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/Razor/Views/Pdf/Index.g.cshtml.cs
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/Razor/Views/Shared/_Index_Layout.g.cshtml.cs
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
AspNetMvcCoreDemo/obj/Release/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
BLL/obj/Debug/BLL.csprojAssemblyReference.cache
BLL/obj/Debug/BLL.dll
BLL/obj/Debug/BLL.pdb
BLL/obj/Release/BLL.csprojAssemblyReference.cache
BLL/obj/Release/BLL.dll
BLL/obj/Release/BLL.pdb
DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
DAL/obj/Debug/DAL.csprojAssemblyReference.cache
DAL/obj/Debug/DAL.dll
DAL/obj/Debug/DAL.pdb
DAL/obj/Release/DAL.csprojAssemblyReference.cache
DAL/obj/Release/DAL.dll
DAL/obj/Release/DAL.pdb
DBUtility/obj/Debug/DBUtility.csprojAssemblyReference.cache
DBUtility/obj/Debug/DBUtility.dll
DBUtility/obj/Debug/DBUtility.pdb
DBUtility/obj/Release/DBUtility.csprojAssemblyReference.cache
DBUtility/obj/Release/DBUtility.dll
DBUtility/obj/Release/DBUtility.pdb
DotNetService/obj/Debug/DotNetService.csprojAssemblyReference.cache
DotNetService/obj/Debug/DotNetService.dll
DotNetService/obj/Debug/DotNetService.pdb
DotNetService/obj/Release/DotNetService.csprojAssemblyReference.cache
DotNetService/obj/Release/DotNetService.dll
DotNetService/obj/Release/DotNetService.pdb
IBLL/obj/Debug/IBLL.csprojAssemblyReference.cache
IBLL/obj/Debug/IBLL.dll
IBLL/obj/Debug/IBLL.pdb
IBLL/obj/Release/IBLL.csprojAssemblyReference.cache
IBLL/obj/Release/IBLL.dll
IBLL/obj/Release/IBLL.pdb
Lib/BLL.dll
Lib/BLL.pdb
Lib/DAL.dll
Lib/DAL.pdb
Lib/DBUtility.dll
Lib/DBUtility.pdb
Lib/DotNetService.dll
Lib/DotNetService.pdb
Lib/IBLL.dll
Lib/IBLL.pdb
Lib/Model.dll
Lib/Model.pdb
Model/obj/Debug/Model.csprojAssemblyReference.cache
Model/obj/Debug/Model.dll
Model/obj/Debug/Model.pdb
Model/obj/Release/Model.csproj.FileListAbsolute.txt
Model/obj/Release/Model.csprojAssemblyReference.cache
Model/obj/Release/Model.dll
Model/obj/Release/Model.pdb
/ApiDemo/wwwroot/resources/icons
/ApiDemo/bin
ApiDemo/obj
.vs
AspNetMvcCoreDemo/obj
BLL/obj
DAL/obj
DBUtility/obj
DotNetService/obj
IBLL/obj
Model/obj
ApiDemo/.config
