.panel {
    overflow: hidden;
    text-align: left;
}

.panel-header,
.panel-body {
    border-style: solid;
    border-width: 1px;
}

.panel-header {
    padding: 5px;
    position: relative;
}

.panel-title { background: url('images/blank.gif') no-repeat; }

.panel-header-noborder { border-width: 0 0 1px 0; }

.panel-body {
    border-top-width: 0px;
    overflow: auto;
}

.panel-body-noheader { border-top-width: 1px; }

.panel-body-noborder { border-width: 0px; }

.panel-with-icon { padding-left: 18px; }

.panel-icon,
.panel-tool {
    height: 16px;
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
}

.panel-icon {
    left: 5px;
    width: 16px;
}

.panel-tool {
    right: 5px;
    width: auto;
}

.panel-tool a {
    display: inline-block;
    filter: alpha(opacity=60);
    height: 16px;
    margin: 0 0 0 2px;
    opacity: 0.6;
    vertical-align: top;
    width: 16px;
}

.panel-tool a:hover {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #eaf2ff;
    border-radius: 3px 3px 3px 3px;
    filter: alpha(opacity=100);
    opacity: 1;
}

.panel-loading { padding: 11px 0px 10px 30px; }

.panel-noscroll { overflow: hidden; }

.panel-fit,
.panel-fit body {
    border: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.panel-loading { background: url('images/loading.gif') no-repeat 10px 10px; }

.panel-tool-close { background: url('images/panel_tools.png') no-repeat -16px 0px; }

.panel-tool-min { background: url('images/panel_tools.png') no-repeat 0px 0px; }

.panel-tool-max { background: url('images/panel_tools.png') no-repeat 0px -16px; }

.panel-tool-restore { background: url('images/panel_tools.png') no-repeat -16px -16px; }

.panel-tool-collapse { background: url('images/panel_tools.png') no-repeat -32px 0; }

.panel-tool-expand { background: url('images/panel_tools.png') no-repeat -32px -16px; }

.panel-header,
.panel-body { border-color: #95B8E7; }

.panel-header {
    background: -webkit-linear-gradient(top, #EFF5FF 0, #E0ECFF 100%);
    background: -moz-linear-gradient(top, #EFF5FF 0, #E0ECFF 100%);
    background: -o-linear-gradient(top, #EFF5FF 0, #E0ECFF 100%);
    background: linear-gradient(to bottom, #EFF5FF 0, #E0ECFF 100%);
    background-color: #E0ECFF;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#E0ECFF, GradientType=0);
}

.panel-body {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
}

.panel-title {
    color: #0E2D5F;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
}

.accordion {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.accordion .accordion-header {
    border-width: 0 0 1px;
    cursor: pointer;
}

.accordion .accordion-body { border-width: 0 0 1px; }

.accordion-noborder { border-width: 0; }

.accordion-noborder .accordion-header { border-width: 0 0 1px; }

.accordion-noborder .accordion-body { border-width: 0 0 1px; }

.accordion-collapse { background: url('images/accordion_arrows.png') no-repeat 0 0; }

.accordion-expand { background: url('images/accordion_arrows.png') no-repeat -16px 0; }

.accordion {
    background: #ffffff;
    border-color: #95B8E7;
}

.accordion .accordion-header {
    background: #E0ECFF;
    filter: none;
}

.accordion .accordion-header-selected { background: #FBEC88; }

.accordion .accordion-header-selected .panel-title { color: #000000; }

.window {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 5px;
}

.window .window-header {
    background: transparent;
    padding: 0px 0px 6px 0px;
}

.window .window-body {
    border-style: solid;
    border-top-width: 0px;
    border-width: 1px;
}

.window .window-body-noheader { border-top-width: 1px; }

.window .window-header .panel-icon,
.window .window-header .panel-tool {
    margin-top: -11px;
    top: 50%;
}

.window .window-header .panel-icon { left: 1px; }

.window .window-header .panel-tool { right: 1px; }

.window .window-header .panel-with-icon { padding-left: 18px; }

.window-proxy {
    overflow: hidden;
    position: absolute;
}

.window-proxy-mask {
    filter: alpha(opacity=5);
    opacity: 0.05;
    position: absolute;
}

.window-mask {
    filter: alpha(opacity=40);
    font-size: 1px;
    height: 100%;
    left: 0;
    opacity: 0.40;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    *zoom: 1;
}

.window,
.window-shadow {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
}

.window-shadow {
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    background: #ccc;
    box-shadow: 2px 2px 3px #cccccc;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, MakeShadow=false, ShadowOpacity=0.2);
}

.window,
.window .window-body { border-color: #95B8E7; }

.window {
    background: -webkit-linear-gradient(top, #EFF5FF 0, #E0ECFF 20%);
    background: -moz-linear-gradient(top, #EFF5FF 0, #E0ECFF 20%);
    background: -o-linear-gradient(top, #EFF5FF 0, #E0ECFF 20%);
    background: linear-gradient(to bottom, #EFF5FF 0, #E0ECFF 20%);
    background-color: #E0ECFF;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#E0ECFF, GradientType=0);
}

.window-proxy { border: 1px dashed #95B8E7; }

.window-proxy-mask,
.window-mask { background: #ccc; }

.dialog-content { overflow: auto; }

.dialog-toolbar { padding: 2px 5px; }

.dialog-tool-separator {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    float: left;
    height: 24px;
    margin: 2px 1px;
}

.dialog-button {
    padding: 5px;
    text-align: right;
}

.dialog-button .l-btn { margin-left: 5px; }

.dialog-toolbar,
.dialog-button { background: #F4F4F4; }

.dialog-toolbar { border-bottom: 1px solid #dddddd; }

.dialog-button { border-top: 1px solid #dddddd; }

.combo {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.combo .combo-text {
    border: 0px;
    font-size: 12px;
    height: 20px;
    *height: 18px;
    line-height: 20px;
    *line-height: 18px;
    margin: 0;
    *margin-top: -1px;
    padding: 0px 2px;
    vertical-align: baseline;
    _height: 18px;
    _line-height: 18px;
}

.combo-arrow {
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=60);
    height: 20px;
    opacity: 0.6;
    overflow: hidden;
    vertical-align: top;
    width: 18px;
}

.combo-arrow-hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.combo-panel { overflow: auto; }

.combo-arrow { background: url('images/combo_arrow.png') no-repeat center center; }

.combo,
.combo-panel { background-color: #ffffff; }

.combo {
    background-color: #ffffff;
    border-color: #95B8E7;
}

.combo-arrow { background-color: #E0ECFF; }

.combo-arrow-hover { background-color: #eaf2ff; }

.combobox-item,
.combobox-group {
    font-size: 12px;
    padding: 3px;
    padding-right: 0px;
}

.combobox-gitem { padding-left: 10px; }

.combobox-group { font-weight: bold; }

.combobox-item-hover {
    background-color: #eaf2ff;
    color: #000000;
}

.combobox-item-selected {
    background-color: #FBEC88;
    color: #000000;
}

.layout {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 0;
}

.layout-panel {
    overflow: hidden;
    position: absolute;
}

.layout-panel-east,
.layout-panel-west { z-index: 2; }

.layout-panel-north,
.layout-panel-south { z-index: 3; }

.layout-expand {
    cursor: pointer;
    font-size: 1px;
    padding: 0px;
    position: absolute;
    z-index: 1;
}

.layout-expand .panel-header,
.layout-expand .panel-body {
    background: transparent;
    filter: none;
    overflow: hidden;
}

.layout-expand .panel-header { border-bottom-width: 0px; }

.layout-split-proxy-h,
.layout-split-proxy-v {
    display: none;
    font-size: 1px;
    position: absolute;
    z-index: 5;
}

.layout-split-proxy-h {
    cursor: e-resize;
    width: 5px;
}

.layout-split-proxy-v {
    cursor: n-resize;
    height: 5px;
}

.layout-mask {
    background: #fafafa;
    filter: alpha(opacity=10);
    opacity: 0.10;
    position: absolute;
    z-index: 4;
}

.layout-button-up { background: url('images/layout_arrows.png') no-repeat -16px -16px; }

.layout-button-down { background: url('images/layout_arrows.png') no-repeat -16px 0; }

.layout-button-left { background: url('images/layout_arrows.png') no-repeat 0 0; }

.layout-button-right { background: url('images/layout_arrows.png') no-repeat 0 -16px; }

.layout-split-proxy-h,
.layout-split-proxy-v { background-color: #aac5e7; }

.layout-split-north { border-bottom: 5px solid #E6EEF8; }

.layout-split-south { border-top: 5px solid #E6EEF8; }

.layout-split-east { border-left: 5px solid #E6EEF8; }

.layout-split-west { border-right: 5px solid #E6EEF8; }

.layout-expand { background-color: #E0ECFF; }

.layout-expand-over { background-color: #E0ECFF; }

.tabs-container { overflow: hidden; }

.tabs-header {
    border-bottom-width: 0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 0;
    padding-top: 2px;
    position: relative;
}

.tabs-header-plain {
    background: transparent;
    border: 0;
}

.tabs-scroller-left,
.tabs-scroller-right {
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    cursor: pointer;
    display: none;
    font-size: 1px;
    position: absolute;
    top: auto;
    width: 18px;
}

.tabs-scroller-left { left: 0; }

.tabs-scroller-right { right: 0; }

.tabs-tool {
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    overflow: hidden;
    padding: 1px;
    position: absolute;
}

.tabs-header-plain .tabs-tool { padding: 0 1px; }

.tabs-wrap {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.tabs-scrolling {
    margin-left: 18px;
    margin-right: 18px;
}

.tabs-disabled {
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.tabs {
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 26px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
    width: 5000px;
}

.tabs li {
    border: 0;
    display: inline-block;
    float: left;
    margin: 0 4px -1px 0;
    padding: 0;
    position: relative;
}

.tabs li a.tabs-inner {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.tabs li.tabs-selected a.tabs-inner {
    font-weight: bold;
    outline: none;
}

.tabs li.tabs-selected a:hover.tabs-inner {
    cursor: default;
    pointer: default;
}

.tabs li a.tabs-close,
.tabs-p-tool {
    display: block;
    font-size: 1px;
    height: 12px;
    margin-top: -6px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
}

.tabs li a.tabs-close {
    filter: alpha(opacity=60);
    opacity: 0.6;
    right: 5px;
    width: 12px;
}

.tabs-p-tool { right: 16px; }

.tabs-p-tool a {
    display: inline-block;
    filter: alpha(opacity=60);
    font-size: 1px;
    height: 12px;
    margin: 0;
    opacity: 0.6;
    width: 12px;
}

.tabs li a:hover.tabs-close,
.tabs-p-tool a:hover {
    cursor: hand;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}

.tabs-with-icon { padding-left: 18px; }

.tabs-icon {
    height: 16px;
    left: 10px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.tabs-title { font-size: 12px; }

.tabs-closable { padding-right: 8px; }

.tabs-panels {
    border-style: solid;
    border-top-width: 0;
    border-width: 1px;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.tabs-header-bottom {
    border-width: 0 1px 1px 1px;
    padding: 0 0 2px 0;
}

.tabs-header-bottom .tabs { border-width: 1px 0 0 0; }

.tabs-header-bottom .tabs li { margin: -1px 4px 0 0; }

.tabs-header-bottom .tabs li a.tabs-inner {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.tabs-header-bottom .tabs-tool { top: 0; }

.tabs-header-bottom .tabs-scroller-left,
.tabs-header-bottom .tabs-scroller-right {
    bottom: auto;
    top: 0;
}

.tabs-panels-top { border-width: 1px 1px 0 1px; }

.tabs-header-left {
    border-width: 1px 0 1px 1px;
    float: left;
    padding: 0;
}

.tabs-header-right {
    border-width: 1px 1px 1px 0;
    float: right;
    padding: 0;
}

.tabs-header-left .tabs-wrap,
.tabs-header-right .tabs-wrap { height: 100%; }

.tabs-header-left .tabs {
    border-width: 0 1px 0 0;
    height: 100%;
    padding: 4px 0 0 4px;
}

.tabs-header-right .tabs {
    border-width: 0 0 0 1px;
    height: 100%;
    padding: 4px 4px 0 0;
}

.tabs-header-left .tabs li,
.tabs-header-right .tabs li {
    display: block;
    position: relative;
    width: 100%;
}

.tabs-header-left .tabs li {
    float: right;
    left: auto;
    margin: 0 -1px 4px 0;
    right: 0;
}

.tabs-header-right .tabs li {
    float: left;
    left: 0;
    margin: 0 0 4px -1px;
    right: auto;
}

.tabs-header-left .tabs li a.tabs-inner {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    display: block;
    text-align: left;
}

.tabs-header-right .tabs li a.tabs-inner {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    display: block;
    text-align: left;
}

.tabs-panels-right {
    border-width: 1px 1px 1px 0;
    float: right;
}

.tabs-panels-left {
    border-width: 1px 0 1px 1px;
    float: left;
}

.tabs-header-noborder,
.tabs-panels-noborder { border: 0px; }

.tabs-header-plain {
    background: transparent;
    border: 0px;
}

.tabs-scroller-left { background: #E0ECFF url('images/tabs_icons.png') no-repeat 1px center; }

.tabs-scroller-right { background: #E0ECFF url('images/tabs_icons.png') no-repeat -15px center; }

.tabs li a.tabs-close { background: url('images/tabs_icons.png') no-repeat -34px center; }

.tabs li a.tabs-inner:hover {
    background: #eaf2ff;
    color: #000000;
    filter: none;
}

.tabs li.tabs-selected a.tabs-inner {
    background: -webkit-linear-gradient(top, #EFF5FF 0, #ffffff 100%);
    background: -moz-linear-gradient(top, #EFF5FF 0, #ffffff 100%);
    background: -o-linear-gradient(top, #EFF5FF 0, #ffffff 100%);
    background: linear-gradient(to bottom, #EFF5FF 0, #ffffff 100%);
    background-color: #ffffff;
    background-repeat: repeat-x;
    color: #0E2D5F;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#ffffff, GradientType=0);
}

.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner {
    background: -webkit-linear-gradient(top, #ffffff 0, #EFF5FF 100%);
    background: -moz-linear-gradient(top, #ffffff 0, #EFF5FF 100%);
    background: -o-linear-gradient(top, #ffffff 0, #EFF5FF 100%);
    background: linear-gradient(to bottom, #ffffff 0, #EFF5FF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#EFF5FF, GradientType=0);
}

.tabs-header-left .tabs li.tabs-selected a.tabs-inner {
    background: -webkit-linear-gradient(left, #EFF5FF 0, #ffffff 100%);
    background: -moz-linear-gradient(left, #EFF5FF 0, #ffffff 100%);
    background: -o-linear-gradient(left, #EFF5FF 0, #ffffff 100%);
    background: linear-gradient(to right, #EFF5FF 0, #ffffff 100%);
    background-repeat: repeat-y;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#ffffff, GradientType=1);
}

.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
    background: -webkit-linear-gradient(left, #ffffff 0, #EFF5FF 100%);
    background: -moz-linear-gradient(left, #ffffff 0, #EFF5FF 100%);
    background: -o-linear-gradient(left, #ffffff 0, #EFF5FF 100%);
    background: linear-gradient(to right, #ffffff 0, #EFF5FF 100%);
    background-repeat: repeat-y;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#EFF5FF, GradientType=1);
}

.tabs li a.tabs-inner {
    background: -webkit-linear-gradient(top, #EFF5FF 0, #E0ECFF 100%);
    background: -moz-linear-gradient(top, #EFF5FF 0, #E0ECFF 100%);
    background: -o-linear-gradient(top, #EFF5FF 0, #E0ECFF 100%);
    background: linear-gradient(to bottom, #EFF5FF 0, #E0ECFF 100%);
    background-color: #E0ECFF;
    background-repeat: repeat-x;
    color: #0E2D5F;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#E0ECFF, GradientType=0);
}

.tabs-header,
.tabs-tool { background-color: #E0ECFF; }

.tabs-header-plain { background: transparent; }

.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li a.tabs-inner,
.tabs li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,
.tabs-header-left .tabs li.tabs-selected a.tabs-inner,
.tabs-header-right .tabs li.tabs-selected a.tabs-inner { border-color: #95B8E7; }

.tabs-p-tool a:hover,
.tabs li a:hover.tabs-close,
.tabs-scroller-over { background-color: #eaf2ff; }

.tabs li.tabs-selected a.tabs-inner { border-bottom: 1px solid #ffffff; }

.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner { border-top: 1px solid #ffffff; }

.tabs-header-left .tabs li.tabs-selected a.tabs-inner { border-right: 1px solid #ffffff; }

.tabs-header-right .tabs li.tabs-selected a.tabs-inner { border-left: 1px solid #ffffff; }

a.l-btn {
    background-position: right 0;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    outline: none;
    padding-right: 18px;
    text-decoration: none;
    zoom: 1;
}

a.l-btn-plain {
    border: 0;
    padding: 1px 6px 1px 1px;
    padding-right: 5px;
}

a.l-btn-disabled {
    color: #ccc;
    cursor: default;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

a.l-btn span.l-btn-left {
    background-position: 0 -48px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 4px 0px 4px 18px;
}

a.l-btn-plain span.l-btn-left { padding-left: 5px; }

a.l-btn span span.l-btn-text {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: auto;
}

a.l-btn span span.l-btn-icon-left {
    background-position: left center;
    padding: 0 0 0 20px;
}

a.l-btn span span.l-btn-icon-right {
    background-position: right center;
    padding: 0 20px 0 0;
}

a.l-btn span span span.l-btn-empty {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 16px;
}

a:hover.l-btn {
    background-position: right -24px;
    outline: none;
    text-decoration: none;
}

a:hover.l-btn span.l-btn-left { background-position: 0 bottom; }

a:hover.l-btn-plain { padding: 0 5px 0 0; }

a:hover.l-btn-disabled { background-position: right 0; }

a:hover.l-btn-disabled span.l-btn-left { background-position: 0 -48px; }

a.l-btn .l-btn-focus { outline: #0000FF dotted thin; }

a.l-btn {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background-image: url('images/linkbutton_bg.png');
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    color: #444;
}

a.l-btn span.l-btn-left {
    background-image: url('images/linkbutton_bg.png');
    background-repeat: no-repeat;
}

a.l-btn-plain,
a.l-btn-plain span.l-btn-left {
    background: transparent;
    border: 0;
    filter: none;
}

a:hover.l-btn-plain {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: #eaf2ff;
    border: 1px solid #b7d2ff;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
}

a.l-btn-disabled,
a:hover.l-btn-disabled {
    color: #444;
    filter: alpha(opacity=50);
}

a.l-btn-plain-disabled,
a:hover.l-btn-plain-disabled {
    background: transparent;
    filter: alpha(opacity=50);
}

a.l-btn-selected,
a:hover.l-btn-selected { background-position: right -24px; }

a.l-btn-selected span.l-btn-left,
a:hover.l-btn-selected span.l-btn-left { background-position: 0 bottom; }

a.l-btn-plain-selected,
a:hover.l-btn-plain-selected { background: #ddd; }

.datagrid .panel-body {
    overflow: hidden;
    position: relative;
}

.datagrid-view {
    overflow: hidden;
    position: relative;
}

.datagrid-view1,
.datagrid-view2 {
    overflow: hidden;
    position: absolute;
    top: 0;
}

.datagrid-view1 { left: 0; }

.datagrid-view2 { right: 0; }

.datagrid-mask {
    display: none;
    filter: alpha(opacity=30);
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}

.datagrid-mask-msg {
    border-style: solid;
    border-width: 2px;
    display: none;
    height: 16px;
    margin-top: -20px;
    padding: 12px 5px 10px 30px;
    position: absolute;
    top: 50%;
    width: auto;
}

.datagrid-sort-icon { padding: 0; }

.datagrid-toolbar {
    border-style: solid;
    border-width: 0 0 1px 0;
    height: auto;
    padding: 1px 2px;
}

.datagrid-btn-separator {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    float: left;
    height: 24px;
    margin: 2px 1px;
}

.datagrid .datagrid-pager {
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 0;
}

.datagrid .datagrid-pager-top { border-width: 0 0 1px 0; }

.datagrid-header {
    border-style: solid;
    border-width: 0 0 1px 0;
    cursor: default;
    overflow: hidden;
}

.datagrid-header-inner {
    float: left;
    width: 10000px;
}

.datagrid-header-row,
.datagrid-row { height: 25px; }

.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
    border-style: dotted;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 0;
}

.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    padding: 0 4px;
    white-space: nowrap;
    word-wrap: normal;
}

.datagrid-header .datagrid-cell { height: auto; }

.datagrid-header .datagrid-cell span { font-size: 12px; }

.datagrid-cell-group { text-align: center; }

.datagrid-header-rownumber,
.datagrid-cell-rownumber {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 25px;
}

.datagrid-body {
    margin: 0;
    overflow: auto;
    padding: 0;
    zoom: 1;
}

.datagrid-view1 .datagrid-body-inner { padding-bottom: 20px; }

.datagrid-view1 .datagrid-body { overflow: hidden; }

.datagrid-footer { overflow: hidden; }

.datagrid-footer-inner {
    border-style: solid;
    border-width: 1px 0 0 0;
    float: left;
    width: 10000px;
}

.datagrid-row-editing .datagrid-cell { height: auto; }

.datagrid-header-check,
.datagrid-cell-check {
    font-size: 1px;
    height: 18px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 27px;
}

.datagrid-header-check input,
.datagrid-cell-check input {
    height: 18px;
    margin: 0;
    padding: 0;
    width: 15px;
}

.datagrid-resize-proxy {
    cursor: e-resize;
    display: none;
    height: 10000px;
    position: absolute;
    top: 0;
    width: 1px;
}

.datagrid-body .datagrid-editable {
    margin: 0;
    padding: 0;
}

.datagrid-body .datagrid-editable table {
    height: 100%;
    width: 100%;
}

.datagrid-body .datagrid-editable td {
    border: 0;
    margin: 0;
    padding: 0;
}

.datagrid-body .datagrid-editable .datagrid-editable-input {
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 2px;
}

.datagrid-sort-desc .datagrid-sort-icon {
    background: url('images/datagrid_icons.png') no-repeat -16px center;
    padding: 0 13px 0 0;
}

.datagrid-sort-asc .datagrid-sort-icon {
    background: url('images/datagrid_icons.png') no-repeat 0px center;
    padding: 0 13px 0 0;
}

.datagrid-row-collapse { background: url('images/datagrid_icons.png') no-repeat -48px center; }

.datagrid-row-expand { background: url('images/datagrid_icons.png') no-repeat -32px center; }

.datagrid-mask-msg { background: #ffffff url('images/loading.gif') no-repeat scroll 5px center; }

.datagrid-header,
.datagrid-td-rownumber {
    background: -webkit-linear-gradient(top, #F9F9F9 0, #efefef 100%);
    background: -moz-linear-gradient(top, #F9F9F9 0, #efefef 100%);
    background: -o-linear-gradient(top, #F9F9F9 0, #efefef 100%);
    background: linear-gradient(to bottom, #F9F9F9 0, #efefef 100%);
    background-color: #efefef;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#efefef, GradientType=0);
}

.datagrid-cell-rownumber { color: #000000; }

.datagrid-resize-proxy { background: #aac5e7; }

.datagrid-mask { background: #ccc; }

.datagrid-mask-msg { border-color: #95B8E7; }

.datagrid-toolbar,
.datagrid-pager { background: #F4F4F4; }

.datagrid-header,
.datagrid-toolbar,
.datagrid-pager,
.datagrid-footer-inner { border-color: #dddddd; }

.datagrid-header td,
.datagrid-body td,
.datagrid-footer td { border-color: #ccc; }

.datagrid-htable,
.datagrid-btable,
.datagrid-ftable { color: #000000; }

.datagrid-row-alt { background: #fafafa; }

.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
    background: #eaf2ff;
    color: #000000;
    cursor: default;
}

.datagrid-row-selected {
    background: #FBEC88;
    color: #000000;
}

.datagrid-body .datagrid-editable .datagrid-editable-input { border-color: #95B8E7; }

.propertygrid .datagrid-view1 .datagrid-body td {
    border-width: 0 1px 0 0;
    padding-bottom: 1px;
}

.propertygrid .datagrid-group {
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 21px;
    overflow: hidden;
}

.propertygrid .datagrid-group span { font-weight: bold; }

.propertygrid .datagrid-view1 .datagrid-body td { border-color: #dddddd; }

.propertygrid .datagrid-view1 .datagrid-group { border-color: #E0ECFF; }

.propertygrid .datagrid-view2 .datagrid-group { border-color: #dddddd; }

.propertygrid .datagrid-group,
.propertygrid .datagrid-view1 .datagrid-body,
.propertygrid .datagrid-view1 .datagrid-row-over,
.propertygrid .datagrid-view1 .datagrid-row-selected { background: #E0ECFF; }

.pagination { zoom: 1; }

.pagination table {
    float: left;
    height: 30px;
}

.pagination td { border: 0; }

.pagination-btn-separator {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    float: left;
    height: 24px;
    margin: 3px 1px;
}

.pagination .pagination-num {
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 0 2px;
    padding: 2px;
    width: 2em;
}

.pagination-page-list {
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 0px 6px;
    padding: 1px 2px;
    width: auto;
}

.pagination-info {
    float: right;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 6px 0 0;
    padding: 0;
}

.pagination span { font-size: 12px; }

.pagination-first { background: url('images/pagination_icons.png') no-repeat 0 0; }

.pagination-prev { background: url('images/pagination_icons.png') no-repeat -16px 0; }

.pagination-next { background: url('images/pagination_icons.png') no-repeat -32px 0; }

.pagination-last { background: url('images/pagination_icons.png') no-repeat -48px 0; }

.pagination-load { background: url('images/pagination_icons.png') no-repeat -64px 0; }

.pagination-loading { background: url('images/loading.gif') no-repeat; }

.pagination-page-list,
.pagination .pagination-num { border-color: #95B8E7; }

.calendar {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 1px;
}

.calendar table {
    border-collapse: separate;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

.calendar table td,
.calendar table th { font-size: 12px; }

.calendar-noborder { border: 0; }

.calendar-header {
    height: 22px;
    position: relative;
}

.calendar-title {
    height: 22px;
    text-align: center;
}

.calendar-title span {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    position: relative;
    top: 2px;
}

.calendar-prevmonth,
.calendar-nextmonth,
.calendar-prevyear,
.calendar-nextyear {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 1px;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 14px;
}

.calendar-prevmonth {
    background: url('images/calendar_arrows.png') no-repeat -18px -2px;
    left: 20px;
}

.calendar-nextmonth {
    background: url('images/calendar_arrows.png') no-repeat -34px -2px;
    right: 20px;
}

.calendar-prevyear {
    background: url('images/calendar_arrows.png') no-repeat -1px -2px;
    left: 3px;
}

.calendar-nextyear {
    background: url('images/calendar_arrows.png') no-repeat -49px -2px;
    right: 3px;
}

.calendar-body { position: relative; }

.calendar-body th,
.calendar-body td { text-align: center; }

.calendar-day {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    padding: 1px;
}

.calendar-other-month {
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.calendar-menu {
    display: none;
    font-size: 12px;
    height: 150px;
    left: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 180px;
}

.calendar-menu-year-inner {
    padding-bottom: 5px;
    text-align: center;
}

.calendar-menu-year {
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    text-align: center;
    width: 40px;
}

.calendar-menu-prev,
.calendar-menu-next {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    vertical-align: top;
    width: 21px;
}

.calendar-menu-prev {
    background: url('images/calendar_arrows.png') no-repeat 2px 2px;
    margin-right: 10px;
}

.calendar-menu-next {
    background: url('images/calendar_arrows.png') no-repeat -45px 2px;
    margin-left: 10px;
}

.calendar-menu-month {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.calendar-body th,
.calendar-menu-month { color: #4d4d4d; }

.calendar-day { color: #000000; }

.calendar-sunday { color: #CC2222; }

.calendar-saturday { color: #00ee00; }

.calendar-today { color: #0000ff; }

.calendar-menu-year { border-color: #95B8E7; }

.calendar { border-color: #95B8E7; }

.calendar-header { background: #E0ECFF; }

.calendar-body,
.calendar-menu { background: #ffffff; }

.calendar-body th { background: #F4F4F4; }

.calendar-hover,
.calendar-nav-hover,
.calendar-menu-hover {
    background-color: #eaf2ff;
    color: #000000;
}

.calendar-hover {
    border: 1px solid #b7d2ff;
    padding: 0;
}

.calendar-selected {
    background-color: #FBEC88;
    border: 1px solid #E2C608;
    color: #000000;
    padding: 0;
}

.datebox-calendar-inner { height: 180px; }

.datebox-button {
    height: 18px;
    padding: 2px 5px;
    text-align: center;
}

.datebox-button a {
    filter: alpha(opacity=60);
    font-size: 12px;
    font-weight: bold;
    opacity: 0.6;
    text-decoration: none;
}

.datebox-button a:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.datebox-current,
.datebox-close { float: left; }

.datebox-close { float: right; }

.datebox .combo-arrow {
    background-image: url('images/datebox_arrow.png');
    background-position: center center;
}

.datebox-button { background-color: #F4F4F4; }

.datebox-button a { color: #444; }

.spinner {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.spinner .spinner-text {
    border: 0px;
    font-size: 12px;
    height: 20px;
    *height: 18px;
    line-height: 20px;
    *line-height: 18px;
    margin: 0;
    *margin-top: -1px;
    padding: 0 2px;
    vertical-align: baseline;
    _height: 18px;
    _line-height: 18px;
}

.spinner-arrow {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
}

.spinner-arrow-up,
.spinner-arrow-down {
    display: block;
    filter: alpha(opacity=60);
    font-size: 1px;
    height: 10px;
    opacity: 0.6;
    width: 18px;
}

.spinner-arrow-hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.spinner-arrow-up { background: url('images/spinner_arrows.png') no-repeat 1px center; }

.spinner-arrow-down { background: url('images/spinner_arrows.png') no-repeat -15px center; }

.spinner { border-color: #95B8E7; }

.spinner-arrow { background-color: #E0ECFF; }

.spinner-arrow-hover { background-color: #eaf2ff; }

.progressbar {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    position: relative;
}

.progressbar-text {
    position: absolute;
    text-align: center;
}

.progressbar-value {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    position: relative;
    width: 0;
}

.progressbar { border-color: #95B8E7; }

.progressbar-text {
    color: #000000;
    font-size: 12px;
}

.progressbar-value .progressbar-text {
    background-color: #FBEC88;
    color: #000000;
}

.searchbox {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

.searchbox .searchbox-text {
    border: 0;
    font-size: 12px;
    height: 20px;
    *height: 18px;
    line-height: 20px;
    *line-height: 18px;
    margin: 0;
    *margin-top: -1px;
    padding: 0;
    vertical-align: baseline;
    _height: 18px;
    _line-height: 18px;
}

.searchbox .searchbox-prompt {
    color: #ccc;
    font-size: 12px;
}

.searchbox-button {
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=60);
    height: 20px;
    opacity: 0.6;
    overflow: hidden;
    vertical-align: top;
    width: 18px;
}

.searchbox-button-hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.searchbox a.l-btn-plain {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    border-radius: 0;
    filter: alpha(opacity=60);
    height: 20px;
    opacity: 0.6;
    padding: 0 6px 0 0;
    vertical-align: top;
}

.searchbox a.l-btn .l-btn-left { padding: 2px 0 2px 4px; }

.searchbox a.l-btn-plain:hover {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    border-radius: 0;
    filter: alpha(opacity=100);
    opacity: 1.0;
    padding: 0 6px 0 0;
}

.searchbox a.m-btn-plain-active {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.searchbox-button { background: url('images/searchbox_button.png') no-repeat center center; }

.searchbox {
    background-color: #fff;
    border-color: #95B8E7;
}

.searchbox a.l-btn-plain { background: #E0ECFF; }

.slider-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.slider-h { height: 22px; }

.slider-v { width: 22px; }

.slider-inner {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 6px;
    position: relative;
    top: 7px;
}

.slider-handle {
    display: block;
    height: 20px;
    margin-left: -10px;
    outline: none;
    position: absolute;
    top: -7px;
    width: 20px;
}

.slider-tip {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: -22px;
    white-space: nowrap;
}

.slider-rule {
    position: relative;
    top: 15px;
}

.slider-rule span {
    border-style: solid;
    border-width: 0 0 0 1px;
    display: inline-block;
    font-size: 0;
    height: 5px;
    position: absolute;
}

.slider-rulelabel {
    position: relative;
    top: 20px;
}

.slider-rulelabel span {
    display: inline-block;
    font-size: 12px;
    position: absolute;
}

.slider-v .slider-inner {
    float: left;
    left: 7px;
    top: 0;
    width: 6px;
}

.slider-v .slider-handle {
    left: 3px;
    margin-top: -10px;
}

.slider-v .slider-tip {
    left: -10px;
    margin-top: -6px;
}

.slider-v .slider-rule {
    float: left;
    left: 16px;
    top: 0;
}

.slider-v .slider-rule span {
    border-left: 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    height: 'auto';
    width: 5px;
}

.slider-v .slider-rulelabel {
    float: left;
    left: 23px;
    top: 0;
}

.slider-handle { background: url('images/slider_handle.png') no-repeat; }

.slider-inner {
    background: #E0ECFF;
    border-color: #95B8E7;
}

.slider-rule span { border-color: #95B8E7; }

.slider-rulelabel span { color: #000000; }

.menu {
    border-style: solid;
    border-width: 1px;
    margin: 0;
    overflow: hidden;
    padding: 2px;
    position: absolute;
}

.menu-item {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.menu-text {
    float: left;
    height: 20px;
    line-height: 20px;
    padding-left: 28px;
}

.menu-icon {
    height: 16px;
    left: 2px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.menu-rightarrow {
    height: 16px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 16px;
}

.menu-line {
    font-size: 1px;
    height: 2000px;
    left: 26px;
    position: absolute;
    top: 0;
}

.menu-sep {
    font-size: 1px;
    margin: 3px 0px 3px 25px;
}

.menu-active {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.menu-item-disabled {
    cursor: default;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.menu-text,
.menu-text span { font-size: 12px; }

.menu-shadow {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    background: #ccc;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 3px #cccccc;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, MakeShadow=false, ShadowOpacity=0.2);
    position: absolute;
}

.menu-rightarrow { background: url('images/menu_arrows.png') no-repeat -32px center; }

.menu-line {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
}

.menu-sep {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ccc;
}

.menu {
    background-color: #fafafa;
    border-color: #ddd;
    color: #444;
}

.menu-content { background: #ffffff; }

.menu-item {
    border-color: transparent;
    _border-color: #fafafa;
}

.menu-active {
    background: #eaf2ff;
    border-color: #b7d2ff;
    color: #000000;
}

.menu-active-disabled {
    background: transparent;
    border-color: transparent;
    color: #444;
}

.m-btn-downarrow {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    width: 16px;
    _vertical-align: middle;
}

a.m-btn-active { background-position: bottom right; }

a.m-btn-active span.l-btn-left { background-position: bottom left; }

a.m-btn-plain-active {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: transparent;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0 5px 0 0;
}

.m-btn-downarrow { background: url('images/menu_arrows.png') no-repeat 2px center; }

a.m-btn-plain-active {
    background-color: #eaf2ff;
    border-color: #b7d2ff;
    color: #000000;
}

.s-btn-downarrow {
    border-style: solid;
    border-width: 0;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0 0 0 4px;
    padding: 0 0 0 1px;
    width: 14px;
    _vertical-align: middle;
}

a.s-btn-active { background-position: bottom right; }

a.s-btn-active span.l-btn-left { background-position: bottom left; }

a.s-btn-plain-active {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: transparent;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0 5px 0 0;
}

.s-btn-downarrow {
    background: url('images/menu_arrows.png') no-repeat 2px center;
    border-color: #aac5e7;
}

a:hover.l-btn .s-btn-downarrow,
a.s-btn-active .s-btn-downarrow,
a.s-btn-plain-active .s-btn-downarrow {
    background-position: 1px center;
    border-width: 0 0 0 1px;
    padding: 0;
}

a.s-btn-plain-active {
    background-color: #eaf2ff;
    border-color: #b7d2ff;
    color: #000000;
}

.messager-body {
    overflow: hidden;
    padding: 10px;
}

.messager-button {
    padding-top: 10px;
    text-align: center;
}

.messager-icon {
    float: left;
    height: 32px;
    margin: 0 10px 10px 0;
    width: 32px;
}

.messager-error { background: url('images/messager_icons.png') no-repeat scroll -64px 0; }

.messager-info { background: url('images/messager_icons.png') no-repeat scroll 0 0; }

.messager-question { background: url('images/messager_icons.png') no-repeat scroll -32px 0; }

.messager-warning { background: url('images/messager_icons.png') no-repeat scroll -96px 0; }

.messager-progress { padding: 10px; }

.messager-p-msg { margin-bottom: 5px; }

.messager-body .messager-input {
    border: 1px solid #95B8E7;
    padding: 1px 0;
    width: 100%;
}

.tree {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree li { white-space: nowrap; }

.tree li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree-node {
    cursor: pointer;
    height: 18px;
    white-space: nowrap;
}

.tree-hit { cursor: pointer; }

.tree-expanded,
.tree-collapsed,
.tree-folder,
.tree-file,
.tree-checkbox,
.tree-indent {
    display: inline-block;
    height: 18px;
    overflow: hidden;
    vertical-align: top;
    width: 16px;
}

.tree-expanded { background: url('images/tree_icons.png') no-repeat -18px 0px; }

.tree-expanded-hover { background: url('images/tree_icons.png') no-repeat -50px 0px; }

.tree-collapsed { background: url('images/tree_icons.png') no-repeat 0px 0px; }

.tree-collapsed-hover { background: url('images/tree_icons.png') no-repeat -32px 0px; }

.tree-lines .tree-expanded,
.tree-lines .tree-root-first .tree-expanded { background: url('images/tree_icons.png') no-repeat -144px 0; }

.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed { background: url('images/tree_icons.png') no-repeat -128px 0; }

.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded { background: url('images/tree_icons.png') no-repeat -80px 0; }

.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed { background: url('images/tree_icons.png') no-repeat -64px 0; }

.tree-line { background: url('images/tree_icons.png') no-repeat -176px 0; }

.tree-join { background: url('images/tree_icons.png') no-repeat -192px 0; }

.tree-joinbottom { background: url('images/tree_icons.png') no-repeat -160px 0; }

.tree-folder { background: url('images/tree_icons.png') no-repeat -208px 0; }

.tree-folder-open { background: url('images/tree_icons.png') no-repeat -224px 0; }

.tree-file { background: url('images/tree_icons.png') no-repeat -240px 0; }

.tree-loading { background: url('images/loading.gif') no-repeat center center; }

.tree-checkbox0 { background: url('images/tree_icons.png') no-repeat -208px -18px; }

.tree-checkbox1 { background: url('images/tree_icons.png') no-repeat -224px -18px; }

.tree-checkbox2 { background: url('images/tree_icons.png') no-repeat -240px -18px; }

.tree-title {
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 2px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.tree-node-proxy {
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 2px 0 20px;
    z-index: 9900000;
}

.tree-dnd-icon {
    display: inline-block;
    height: 18px;
    left: 2px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.tree-dnd-yes { background: url('images/tree_icons.png') no-repeat -256px 0; }

.tree-dnd-no { background: url('images/tree_icons.png') no-repeat -256px -18px; }

.tree-node-top { border-top: 1px dotted red; }

.tree-node-bottom { border-bottom: 1px dotted red; }

.tree-node-append .tree-title { border: 1px dotted red; }

.tree-editor {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 14px !important;
    height: 18px;
    line-height: 14px;
    padding: 1px 2px;
    position: absolute;
    top: 0;
    width: 80px;
}

.tree-node-proxy {
    background-color: #ffffff;
    border-color: #95B8E7;
    color: #000000;
}

.tree-node-hover {
    background: #eaf2ff;
    color: #000000;
}

.tree-node-selected {
    background: #FBEC88;
    color: #000000;
}

.validatebox-invalid {
    background-color: #fff3f3;
    background-image: url('images/validatebox_warning.png');
    background-position: right center;
    background-repeat: no-repeat;
    border-color: #ffa8a8;
    color: #000;
}

.tooltip {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    display: none;
    filter: alpha(opacity=100);
    opacity: 1;
    outline: none;
    padding: 5px;
    position: absolute;
    z-index: 9900000;
}

.tooltip-content { font-size: 12px; }

.tooltip-arrow-outer,
.tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
    _border-color: tomato;
    _filter: chroma(color=tomato);
}

.tooltip-right .tooltip-arrow-outer {
    left: 0;
    margin: -6px 0 0 -13px;
    top: 50%;
}

.tooltip-right .tooltip-arrow {
    left: 0;
    margin: -6px 0 0 -12px;
    top: 50%;
}

.tooltip-left .tooltip-arrow-outer {
    margin: -6px -13px 0 0;
    right: 0;
    top: 50%;
}

.tooltip-left .tooltip-arrow {
    margin: -6px -12px 0 0;
    right: 0;
    top: 50%;
}

.tooltip-top .tooltip-arrow-outer {
    bottom: 0;
    left: 50%;
    margin: 0 0 -13px -6px;
}

.tooltip-top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin: 0 0 -12px -6px;
}

.tooltip-bottom .tooltip-arrow-outer {
    left: 50%;
    margin: -13px 0 0 -6px;
    top: 0;
}

.tooltip-bottom .tooltip-arrow {
    left: 50%;
    margin: -12px 0 0 -6px;
    top: 0;
}

.tooltip {
    background-color: #ffffff;
    border-color: #95B8E7;
    color: #000000;
}

.tooltip-right .tooltip-arrow-outer { border-right-color: #95B8E7; }

.tooltip-right .tooltip-arrow { border-right-color: #ffffff; }

.tooltip-left .tooltip-arrow-outer { border-left-color: #95B8E7; }

.tooltip-left .tooltip-arrow { border-left-color: #ffffff; }

.tooltip-top .tooltip-arrow-outer { border-top-color: #95B8E7; }

.tooltip-top .tooltip-arrow { border-top-color: #ffffff; }

.tooltip-bottom .tooltip-arrow-outer { border-bottom-color: #95B8E7; }

.tooltip-bottom .tooltip-arrow { border-bottom-color: #ffffff; }

.define-head {
    background: url('images/head_bg.gif');
    background-color: #EFEFEF;
    font-family: Verdana, Geneva, sans-serif;
    height: 55px;
    overflow: hidden;
}

.define-head .define-logo {
    background: url('/Content/Images/Logo.png') 10px 7px no-repeat;
    float: left;
    height: 52px;
    width: 50%;
}

.define-head .define-logo #LoginTopLine {
    color: #15428B;
    font-size: 26px;
    height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 8px 0px 0px 10px;
    padding-left: 55px;
    text-shadow: 3px 1px 6px #fff;
}

.define-head .define-logo #LoginBotoomLine {
    color: #15428B;
    font-size: 12px;
    height: 15px;
    letter-spacing: 1px;
    line-height: 15px;
    padding-left: 65px;
    text-shadow: 3px 1px 6px #fff;
}

.define-head .define-account {
    color: #fff;
    float: right;
    height: 50px;
    line-height: 20px;
    padding-top: 10px;
    text-align: right;
    width: 50%;
}

.define-head .define-account a { color: #fff }

.define-head .define-account a:hover { color: #FF0; }

.define-head .define-account span {
    background: url(/Content/Images/icon/memeber.gif) left center no-repeat;
    padding-left: 18px;
}

.define-head .define-account span b {
    color: #FF0;
    font-weight: normal;
}

.define-bottom {
    background-color: #F2F5F7;
    height: 20px;
    line-height: 20px;
}

a.a-default:link { color: #0773ec; }

a.a-default:visited { color: #0773ec; }

a.a-default:hover { color: #FF6600; }

.bgcolor { background-color: #D2E0F2 }

.bor-b { border: 1px solid #8DB2E3 }

.bgb {
    background-color: #D2E0F2;
    border-bottom: 1px solid #8DB2E3;
    padding: 4px 0 0 3px;
}

/*EasyUI*/

.layout-split-west { border-left: 1px solid #D2E0F2; }

.layout-panel-center { border-right: 1px solid #D2E0F2; }

/*webpart*/

#dd1, #dd2, #dd3, #dd4, #dd5, #dd6, #dd7, #dd8, #dd9 { border: 1px #AED0EA solid }